MONGODB_URI="mongodb+srv://pksuhail47_db_user:YuVFwOnSQc7KN88G@cluster0.sivpqd5.mongodb.net/bucketlist?retryWrites=true&w=majority&appName=Cluster0"
SESSION_SECRET="0d7f9a2c5e8b1f4d7a9c3e6f2b5d8a1c4e7f9b2d5a8c1f4e7b9d2a5c8f1e4d7a3b6c9e2f5a8d1b4"
PORT=3000